In [1]:
import MySQLdb
import DatabaseConnection as dbc

db = dbc.connect()
cursor = db.cursor()

ModuleNotFoundError: No module named 'DataBaseConnection'

In [ ]:
print(db)
sql = "SELECT * FROM USERS"

In [ ]:
cursor.execute(sql) ##output of this line will give you number of rows returned

In [ ]:
results = cursor.fetchall()

In [ ]:
##Results will be a 2dimensional array, returning rows of above query

for row in results:    
    print (row)

In [ ]:
#print ('user_id={}, fname={}, lname={}, department={}, manager_id={}').format(uid, fname, lname, department, manager_id)